.background {
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(

            #fca800,#ff8c00
    )
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 800px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #000000;
    color: white;
    height: 100%;
    /*border-top-right-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
}


/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {height: auto;}
}
.dashbordBox{

    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(69, 66, 66, 0.12)
;

    min-height: 150px;
    max-width: 1300px;
    text-align: center;
    margin: 20px;

    background: white;
    display: flex;
    flex-flow: column wrap;
    border-radius: 5px;
}
.fourBoxes{

    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(69, 66, 66, 0.12)
;

    min-height: 150px;
    max-width: 500px;
    text-align: center;

    background: white;
    display: flex;
    flex-flow: column wrap;
    border-radius: 5px;
    margin-bottom: 20px;
}


.threeBoxes{

    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(69, 66, 66, 0.12)
;

    min-height: 150px;
    max-width: 500px;
    text-align: center;

    background: white;
    display: flex;
    flex-flow: column wrap;
    border-radius: 5px;
    margin-bottom: 20px;
}
.bottomLeft{

    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(69, 66, 66, 0.12)
;

    min-height: 250px;
    max-width: 820px;
    text-align: center;

    background: white;
    display: flex;
    flex-flow: column wrap;
    border-radius: 5px;
    margin-bottom: 20px;
}
.bottomRight{

    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(69, 66, 66, 0.12)
;

    min-height: 250px;
    max-width: 550px;
    text-align: center;

    background: white;
    display: flex;
    flex-flow: column wrap;
    border-radius: 5px;
    margin-bottom: 20px;
}

